body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgba(232, 236, 238, 0.975);
}

fieldset {
    background-color: antiquewhite;
}

legend { 
    background-color: rgb(150, 199, 183);
    color: rgb(209, 205, 205);
    padding: 20px;
    border-radius: 10px;
}

.form-row input:not([type=submit]), .form-row textarea {
    padding: 10px;  
    font-size: 16px; 
    border-radius: 5px;
    background-color: #f1e9e9;
    width: 100%; 
}

.form-row input[type="submit"] {
    padding: 15px;  
    background-color: rgb(162, 71, 184);
    color: white;
    font-size: 24px;
    border-radius: 10px;
}

.form-row {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    margin: 10px 0;
}

.radio-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-row label {
    width: 100%; 
    text-align: left; 
    font-size: 16px;
}

.form-spacer {
    width: 150px;
    text-align: right;
}

main {
    margin-top: 50px;
}

form {
    width: 100%; /* Ensure it takes available width */
    max-width: 1100px; /* Limits the form width to 600px */
    margin: 0 auto; /* Centers the form on the page */
    padding: 40px; /* Optional: Adds padding around the form */
}


footer {
    margin-top: 190px;
}

@media ONLY screen and (max-width: 600px) {
    .form-row, .radio-row {
        flex-direction: column;
    }

    .form-row label {
        text-align: left;
    }

    .form-spacer {
        text-align: left;
    }
}