body{
    background-color: rgb(233, 198, 155);
}
.header{
    display: flex;
    justify-content: center;  
    background-color: antiquewhite;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px;
}

.navLinks{
    display: flex; /*Tutor taught me this, makes it into a box*/
    justify-content: center;
    gap: 20px;
    background-color: rgba(242, 157, 8, 0.497);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 24px;
    box-shadow: 10px 10px 20px;
    background: url(Palatavake.jpg);
    background-origin:initial;
    background-clip:initial;
    

}

.navLinks a{
    background-color: rgba(242, 157, 8, 0.497);
    text-decoration: none;
    font-style: oblique;
}

.navLinks a:hover{
    background-color: rgb(191, 88, 28);
    text-decoration: underline;
}

#wrapper{
    background-color: rgba(21, 49, 49, 0.205);
    width: 900px;
    margin: 0 auto
}

h1{
    font-weight: 100;
    text-shadow: 2px 2px rgb(146, 174, 171);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 3;
}
p{
    text-align: center;
    text-transform: initial;
    padding: 10px;
}

figure{
    margin: 0;
    float: left;
    margin-right: 10px;
    border: 1.5px solid black;
  }

.clear{
    clear: both;
}
h3{
    text-align: center;
}

main{
    height: 500px;
}

